---
import DetailLayout from "@/layouts/DetailLayout.astro";
import { Image } from "astro:assets";
import {
  getDetail,
  getVideoCompilation,
  getSimiliarDatas,
  getCredits,
} from "@/utils/data";
import type { Movie } from "@/types/movie";
import Card from "@/components/Movie/Card.astro";
import Link from "@/components/ui/Link.astro";
import { format } from "date-fns";
import { FaStar } from "react-icons/fa";
import LikeAction from "@/components/React/LikeAction";
import { YouTube } from "@astro-community/astro-embed-youtube";

export const prerender = false;

const { user } = Astro.locals;

const urlImage = import.meta.env.PUBLIC_TMDB_IMG_URL;

const { id } = Astro.params;

const data = (await getDetail("movie", (id as string) ?? "")) as DetailMovie;

const similarMovies = await getSimiliarDatas("movie", id as string, 1);

const credits = await getCredits(id as string, "movie");

const videoCompilation = (await getVideoCompilation(
  "movie",
  id as string
)) as Array<Video>;

const movies = similarMovies.results.filter(
  (movie: Movie) =>
    typeof movie.poster_path === "string" &&
    typeof movie.backdrop_path === "string"
) as Movies;
---

<DetailLayout
  name_transition="movie"
  id={(id as string) ?? ""}
  poster={data.backdrop_path}
  title={`Movie ~ ${data.original_title}`}
  description={`Once detail movie with id ${id}`}
>
  <main class="w-full">
    <section
      class="w-full lg:grid lg:grid-cols-3 flex flex-col gap-4 pt-6 px-4"
    >
      <div class="lg:col-span-1 md:self-start self-center">
        <Image
          src={`${urlImage}${data.poster_path}`}
          alt={"Poster"}
          inferSize
          loading="eager"
          transition:name={`movie ${id} poster`}
          width={350}
          height={400}
          sizes="(max-width: 768px) 50vw, 30vw"
          class={"object-cover obejct-center lg:-mt-56 md:-mt-48 -mt-36"}
        />
      </div>
      <article class="lg:col-span-2 flex flex-col gap-4">
        <div class="w-full flex justify-between items-center">
          <h1
            transition:name={`movie ${id} title`}
            class="mt-3 lg:text-5xl text-3xl font-bold"
          >
            {data.original_title}
          </h1>
          <LikeAction
            dataAdd={{
              title: data.original_title,
              poster: data.poster_path,
              list_id: data.id,
              release_list: data.release_date,
              user_id: user?.id as string,
              type: "movie",
            }}
            id={data.id}
            isAuth={!!user}
            client:load
          />
        </div>
        <p class="text-justify lg:text-xl text-lg">{data.overview}</p>
        <p class="lg:text-xl text-lg" transition:name={`movie ${id} date`}>
          Release : {
            format(
              data.release_date ? new Date(data.release_date) : new Date(),
              "MMMM dd, yyyy"
            )
          }
        </p>
        {
          data.homepage && (
            <p class="lg:text-xl text-lg">
              Website :
              <a
                href={data.homepage}
                target="_blank"
                rel="noopener noreferrer"
                class="text-blue-600"
              >
                {data.homepage}
              </a>
            </p>
          )
        }
        <div class="flex gap-6 items-center">
          <p class="lg:text-xl text-lg">
            Budget : {" "}
            <span>
              {
                new Intl.NumberFormat("en-US", {
                  style: "currency",
                  currency: "USD",
                }).format(data.budget)
              }
            </span>
          </p>
          <p class="lg:text-xl text-lg">
            Revenue : {" "}
            <span>
              {
                new Intl.NumberFormat("en-US", {
                  style: "currency",
                  currency: "USD",
                }).format(data.revenue)
              }
            </span>
          </p>
        </div>
        <p class="lg:text-xl text-lg">Duration : {data.runtime} minutes</p>
        <p class="lg:text-xl text-lg flex items-center gap-3">
          Rating : {data.vote_average.toFixed(2)}
          <FaStar className="text-yellow-500" />
        </p>
      </article>
    </section>
    {
      videoCompilation.length > 0 ? (
        <section class="w-full mt-5 px-4">
          <h1 class="text-3xl font-semibold">Compilation / Trailer Video</h1>
          <section class="slider-list max-w-full overflow-x-auto flex gap-4 pb-5 items-stretch mt-6">
            {videoCompilation.map((video) => (
              <div class="md:w-1/4 w-1/2 flex-shrink-0">
                <YouTube
                  id={video.key}
                  posterQuality="high"
                  title={video.name}
                />
              </div>
            ))}
          </section>
        </section>
      ) : null
    }
    {
      credits.length > 0 ? (
        <section class="w-full mt-5 px-4">
          <h1 class="text-3xl font-semibold">Credits</h1>
          <section class="slider-list max-w-full overflow-x-auto flex gap-4 pb-5 items-stretch mt-6">
            {credits.map((credit) => (
              <div class="md:w-1/4 w-1/2 flex-shrink-0 card rounded-lg">
                {credit.profile_path === null ? (
                  <div class="w-full aspect-[1/.8] bg-white grid place-items-center text-black font-bold">
                    Photo not found
                  </div>
                ) : (
                  <Image
                    src={`${urlImage}${credit.profile_path}`}
                    alt={`${credit.name}`}
                    inferSize
                    loading="eager"
                    class="w-full object-cover object-center aspect-[1/.8]"
                  />
                )}
                <div class="mt-4">
                  <h1 class="text-center">{`${credit.name} ( ${credit.original_name} )`}</h1>
                  <p class="text-center">{credit.character}</p>
                </div>
              </div>
            ))}
          </section>
        </section>
      ) : null
    }
    <section class="w-full mt-5 px-4">
      <div class="w-full flex justify-between items-center">
        <h1 class="text-2xl font-bold">Similar Movies</h1>
        <Link
          href={`/movie/${data.id}/similar?page=1`}
          class="text-blue-600 text-lg hover:text-xl transition-all duration-300 ease-linear"
          >Movies more</Link
        >
      </div>
      <section
        class="w-full grid lg:grid-cols-4 md:grid-cols-3 grid-cols-2 gap-4 mt-4"
      >
        {movies.map((movie) => <Card {...movie} />)}
      </section>
    </section>
  </main>
</DetailLayout>

<style itemscope>
  .card {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    min-height: 300px;
  }

  .slider-list {
    scroll-snap-type: x mandatory;
  }

  .slider-list > div {
    scroll-snap-align: start;
  }

  .slider-list::-webkit-scrollbar {
    height: 8px;
  }

  .slider-list::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  .slider-list::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }

  .slider-list::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar thumb on hover */
  }
</style>
