---
import { getFavorite } from "@/lib/supabase/function";
import NavLink from "@/components/ui/NavLink.astro";
import Link from "@/components/ui/Link.astro";
import { Image } from "astro:assets";
import { format } from "date-fns";
import { getSession } from "auth-astro/server";
import Layout from "@/layouts/Layout.astro";

const { request, redirect } = Astro;

const { user } = Astro.locals;

const session = await getSession(request);

if (!session) return redirect("/");

export const prerender = false;

const { searchParams } = Astro.url;

const filter = searchParams.get("filter");

if (!filter) return Astro.redirect("/");

const datas = await getFavorite(
  user?.id as string,
  filter as "all" | "movie" | "tv"
);
---

<Layout
  title="Favorite"
  description={`Page Favorite user list with filter ${filter}`}
>
  <main class="w-full flex flex-col mt-8">
    <div class="flex gap-4 flex-wrap items-center px-4">
      <NavLink
        href={"/favorite?filter=all"}
        customCondition={filter === "all"}
        class="bg-red-600 px-4 py-3 rounded-xl hover:shadow-lg hover:shadow-red-400 transition-all duration-200 ease-in-out"
        activeClass="bg-opacity-40">All</NavLink
      >
      <NavLink
        href={"/favorite?filter=movie"}
        customCondition={filter === "movie"}
        class="bg-red-600 px-4 py-3 rounded-xl hover:shadow-lg hover:shadow-red-400 transition-all duration-200 ease-in-out"
        activeClass="bg-opacity-40">Movies</NavLink
      >
      <NavLink
        href={"/favorite?filter=tv"}
        customCondition={filter === "tv"}
        class="bg-red-600 px-4 py-3 rounded-xl hover:shadow-lg hover:shadow-red-400 transition-all duration-200 ease-in-out"
        activeClass="bg-opacity-40">Tv Shows</NavLink
      >
    </div>
    <section
      class="w-full grid lg:grid-cols-5 md:grid-cols-3 grid-cols-2 gap-4 mt-5 px-4 pb-16"
    >
      {
        datas.length > 0 ? (
          datas.map((data) => (
            <article
              class="w-full card flex flex-col h-full rounded-md"
              transition:name={`${data.type} ${data.list_id} card`}
            >
              <Link
                href={`/${data.type}/${data.list_id}`}
                class="flex flex-col h-full"
              >
                {data.poster === undefined || data.poster === null ? (
                  <div
                    class="w-full aspect-[1/1.5] bg-slate-500 bg-opacity-45 rounded-t-md"
                    transition:name={`${data.type} ${data.list_id} poster`}
                  />
                ) : (
                  <Image
                    src={`${import.meta.env.PUBLIC_TMDB_IMG_URL}${data.poster}`}
                    alt="Poster"
                    loading="eager"
                    inferSize={true}
                    class="w-full aspect-auto rounded-t-md"
                    transition:name={`${data.type} ${data.list_id} poster`}
                  />
                )}

                <div class="p-3 flex-grow">
                  <h1
                    transition:name={`${data.type} ${data.list_id} title`}
                    class="text-lg"
                  >
                    {data.title}
                  </h1>
                  <p transition:name={`${data.type} ${data.list_id} date`}>
                    {format(
                      data.release_list
                        ? new Date(data.release_list)
                        : new Date(),
                      "MMMM dd, yyyy"
                    )}
                  </p>
                </div>
              </Link>
            </article>
          ))
        ) : (
          <section class="w-full h-dvh flex flex-col gap-4 justify-center items-center lg:col-span-5 md:col-span-3 col-span-2">
            <Image
              width={500}
              height={500}
              loading={"eager"}
              src={"/empty.png"}
              alt={"No list"}
            />
            <h1 class="font-bold text-xl md:text-2xl lg:text-4xl">
              No favorite lists,{" "}
              <Link href={"/"} class="text-blue-600">
                get your favorite now
              </Link>
            </h1>
          </section>
        )
      }
    </section>
  </main>
</Layout>

<style>
  .card {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    min-height: 300px;
  }
</style>
