---
import DetailLayout from "@/layouts/DetailLayout.astro";
import { Image } from "astro:assets";
import { getDetail } from "@/utils/data";

const { id } = Astro.params;

const data = (await getDetail("tv", (id as string) ?? "")) as DetailTv;
---

<DetailLayout
  name_transition="tv"
  id={(id as string) ?? ""}
  poster={data.backdrop_path}
  title={`Tv ~ ${data.original_name}`}
  description={`Once detail movie with id ${id}`}
>
  <Image
    src={`${import.meta.env.PUBLIC_TMDB_IMG_URL}${data.poster_path}`}
    alt={"Poster"}
    inferSize
    transition:name={`tv ${id} poster`}
    width={250}
    height={300}
    class={"object-cover obejct-center -mt-40"}
  />
  <h1 transition:name={`tv ${id} title`} class="mt-3 text-lg">
    {data.original_name}
  </h1>
</DetailLayout>
