---
import type { Tv } from "@/types/tv";
import { tvListsTopic } from "@/utils/constant";
import Layout from "@/layouts/Layout.astro";
import List from "@/components/Genre/List.astro";
import Card from "@/components/Tv/Card.astro";
import Link from "@/components/ui/Link.astro";
import { getGenres, getDiscover } from "@/utils/data";
import FormSearch from "@/components/React/FormSearch";

const { searchParams } = Astro.url;

const page = searchParams.get("page");

const genre = searchParams.get("genre");

const genreListTv: Array<Genre> = await getGenres("tv");
const datas = await getDiscover("tv", Number(genre), Number(page));

const shows = datas.results?.filter(
  (movie: Tv) =>
    typeof movie.poster_path === "string" &&
    typeof movie.backdrop_path === "string"
) as TvLists;

const getNameGenre = genreListTv.find(
  (list) => list.id === Number(genre)
)?.name;
---

<Layout
  description={`Movie list with genre ${genre}`}
  title={`Movie ~ ${getNameGenre}`}
>
  <section class="w-full" slot="main-sidebar">
    <h1 class="mb-3 text-xl font-bold">Tv Show</h1>
    <div class="px-3">
      <FormSearch type="tv" client:load />
    </div>
    <List
      lists={genreListTv}
      type="tv"
      transition:persist="tv search"
      customLists={tvListsTopic}
    />
  </section>
  <main class="col-span-4 w-full flex flex-col gap-4">
    <h1 class="font-bold text-2xl">{getNameGenre}</h1>
    <section class="w-full mt-3 grid grid-cols-4 gap-4">
      {shows.map((list) => <Card {...list} />)}
    </section>
    <div class="flex w-full justify-between items-center">
      <h3 class="font-semibold text-lg">{datas.page} of {datas.total_pages}</h3>
      <div class="flex gap-6 items-center">
        {
          Number(page) === 1 || Number(page) < 0 ? null : (
            <Link
              class="px-6 py-3 bg-slate-800 rounded-md"
              href={`/tv?page=${Number(page) - 1}&genre=${genre}`}
            >
              Prev
            </Link>
          )
        }
        {
          datas.total_pages > 500 ? (
            Number(page) === 500 ? null : (
              <Link
                href={`/tv?page=${Number(page) + 1}&genre=${genre}`}
                class="px-6 py-3 bg-slate-800 rounded-md"
              >
                Next
              </Link>
            )
          ) : Number(page) === datas.total_pages ? null : (
            <Link
              href={`/tv?page=${Number(page) + 1}&genre=${genre}`}
              class="px-6 py-3 bg-slate-800 rounded-md"
            >
              Next
            </Link>
          )
        }
      </div>
    </div>
  </main>
</Layout>
