---
import { movieListsTopic, tvListsTopic } from "@/utils/constant";
import Layout from "@/layouts/Layout.astro";
import { getGenres } from "@/utils/data";
import ListGenre from "@/components/Genre/List.astro";
import HomepageMovie from "@/components/Movie/Homepage.astro";
import HomepageTv from "@/components/Tv/Homepage.astro";
import FormSearch from "@/components/React/FormSearch";
import HomepageTrending from "@/components/AllTrending/Homepage.astro";

const genreMovie = 28;
const genreTv = 16;

const genreListMovies: Array<Genre> = await getGenres("movie");
const genreListTv: Array<Genre> = await getGenres("tv");
---

<Layout title="Welcome to Astro." description="List all movies use API TMDB">
  <section class="w-full flex flex-col gap-4" slot="main-sidebar">
    <div class="w-full">
      <h1 class="mb-3 text-xl font-bold">Movies</h1>
      <div class="px-3">
        <FormSearch type="movie" client:load />
      </div>
      <ListGenre
        lists={genreListMovies}
        type="movie"
        customLists={movieListsTopic}
      />
    </div>
    <div class="w-full">
      <h1 class="mb-3 text-xl font-bold">Tv Show</h1>
      <div class="px-3">
        <FormSearch type="tv" client:load />
      </div>
      <ListGenre lists={genreListTv} type="tv" customLists={tvListsTopic} />
    </div>
  </section>
  <main class="col-span-4 w-full flex flex-col gap-4">
    <HomepageTrending />
    <HomepageTv genreTv={genreTv} />
    <HomepageMovie genreMovie={genreMovie} />
  </main>
</Layout>

<style is:global>
  .slider-list {
    scroll-snap-type: x mandatory;
  }

  .slider-list > div {
    scroll-snap-align: start;
  }

  .slider-list::-webkit-scrollbar {
    height: 8px;
  }

  .slider-list::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  .slider-list::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }

  .slider-list::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar thumb on hover */
  }
</style>
