---
import type { Movie } from "@/types/movie";
import { Image } from "astro:assets";
import { format } from "date-fns";
type Props = Movie;

const { original_title, id, poster_path, release_date } = Astro.props;
---

<article
  class="w-full card flex flex-col h-full rounded-md"
  transition:name={`movie ${id} card`}
>
  <a href={`/movie/${id}`} class="flex flex-col h-full">
    {
      poster_path === undefined || poster_path === null ? (
        <div
          class="w-full aspect-[1/1.5] bg-slate-500 bg-opacity-45 rounded-t-md"
          transition:name={`movie ${id} poster`}
        />
      ) : (
        <Image
          src={`https://image.tmdb.org/t/p/w500${poster_path}`}
          alt="Poster"
          loading="eager"
          inferSize={true}
          class="w-full aspect-auto rounded-t-md"
          transition:name={`movie ${id} poster`}
        />
      )
    }

    <div class="p-3 flex-grow">
      <h1 transition:name={`movie ${id} title`} class="text-lg">
        {original_title}
      </h1>
      <p transition:name={`movie ${id} date`}>
        {
          format(
            release_date ? new Date(release_date) : new Date(),
            "MMMM dd, yyyy"
          )
        }
      </p>
    </div>
  </a>
</article>

<style>
  .card {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    min-height: 300px;
  }
</style>
