---
import { ViewTransitions } from "astro:transitions";
import Navbar from "@/components/Navbar.astro";
import Banner from "@/components/Banner.astro";

interface Props {
  title: string;
  description: string;
  poster: string;
  name_transition: string;
  id: string;
}

const { title, description, poster, name_transition, id } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions fallback="none" />
  </head>
  <body class="bg-black bg-opacity-95 text-white">
    {
      poster === undefined || poster === null ? (
        <div class="w-full aspect-[1/.3] bg-slate-500 bg-opacity-45" />
      ) : (
        <Banner poster={poster} />
      )
    }
    <main
      class="max-w-layout w-full container pb-10"
      transition:name={`${name_transition} ${id} card`}
    >
      <slot />
    </main>
  </body>
</html>
